html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  font-style: normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

h2, h3 {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "col1   col2   col3";
  gap: .75rem;
  margin: 0;
}

.banner-img {
  grid-area: banner;
}

.banner-txt {
  grid-area: banner;
  align-self: end;
  color: white;
}

dt {
  font-style: italic;
}
